.flex-header {
  background-color: DodgerBlue;
  text-align: center;
}

.flex-footer {
  background-color: DodgerBlue;
  text-align: center;
}

.flex-container {
  display: flex;
  background-color: rgb(255, 221, 30);
}

.column1 {
  float: left;
  width: 70%;
  height: 650px;
  padding: 10px;
  background-color: rgb(255, 221, 30);
}

.column2 {
  float: left;
  padding: 10px;
  width: 30%;
  background-color: rgb(235, 162, 103);
}

.row {
  display: flex;
}
